
/*------------------------------------------------------------------------------------992px-------------------*/

@media screen and (max-width: 992px){
    .img-container{
        margin-top: 10%;
}


}

/*-----------------------------------------------------------------------------------768px----------------------*/

@media screen and (max-width: 768px){
    .img-container{
        margin-top: 15%;
 }
}


/*----------------------------------------------------------------------------------678px----------------------*/

@media screen and (max-width: 678px){
.total-container{
    width: 100%;
    padding: 5px;
}


.img-container{
    width: 30%;
    margin-top: 25%;
    
}


.contenedor-total-calculadora{
    width: 40%;
    margin-top: 5%;
   
}

}


/*------------------------------------------------------------------------------------585px-------------------*/
 @media screen and (max-width: 585px){

    h1{        
        letter-spacing: 2px;
      
        
        
    }
    
    .total-container{
        padding: 1px;
    }


    .img-container{
        width: 60%;
        margin-top: 1%;
        height: 300px;
        
    }

    .contenedor-total-calculadora{
        width: 80%;
        margin-top: 3%;
        
    }
}


/*---------------------------------------------------------------------------------375px---------------------------*/

@media screen and (max-width: 375px){

    h1{        
        font-size: 20px;
      
           
    }
    
    .total-container{
        padding: 0px;
    }


    .img-container{
        height: 200px;
        
    }

    .contenedor-total-calculadora{
        margin-top: 5%;
        
    }

    
}

/*--------------------------------------------------orientation: LANDSCAPE------------------------------------*/

/*------------------------------------------------------------------------------------734px----------------------*/

@media screen and (max-height: 734px) and (orientation: landscape){

    .img-container{
        width: 30%;
        
       
    }

    .contenedor-total-calculadora{
        height: auto;
     
      
    }

}